@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #121011;
    color: rgba(255, 255, 255, 0.9);
  }
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,100 C 94.22009569377991,86.72727272727273 188.44019138755982,73.45454545454547 293,79 C 397.5598086124402,84.54545454545453 512.4593301435406,108.90909090909089 598,117 C 683.5406698564594,125.09090909090911 739.7224880382776,116.90909090909092 843,105 C 946.2775119617224,93.09090909090908 1096.6507177033493,77.45454545454544 1204,76 C 1311.3492822966507,74.54545454545456 1375.6746411483255,87.27272727272728 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,100 C 88.95693779904306,74.89952153110048 177.91387559808612,49.799043062200965 277,60 C 376.0861244019139,70.20095693779903 485.3014354066987,115.70334928229664 592,134 C 698.6985645933013,152.29665071770336 802.8803827751195,143.38755980861245 898,141 C 993.1196172248805,138.61244019138755 1079.177033492823,142.74641148325358 1168,137 C 1256.822966507177,131.25358851674642 1348.4114832535884,115.62679425837321 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,100 C 96.62200956937798,119.55023923444975 193.24401913875596,139.1004784688995 281,130 C 368.75598086124404,120.89952153110049 447.6459330143541,83.1483253588517 534,86 C 620.3540669856459,88.8516746411483 714.1722488038276,132.30622009569376 816,132 C 917.8277511961724,131.69377990430624 1027.6650717703349,87.62679425837321 1133,75 C 1238.3349282296651,62.37320574162679 1339.1674641148325,81.1866028708134 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,100 C 122.1531100478469,75.11961722488039 244.3062200956938,50.239234449760765 325,55 C 405.6937799043062,59.760765550239235 444.92822966507174,94.16267942583733 530,92 C 615.0717703349283,89.83732057416267 745.9808612440191,51.110047846889955 860,59 C 974.0191387559809,66.88995215311004 1071.1483253588517,121.39712918660285 1165,136 C 1258.8516746411483,150.60287081339715 1349.4258373205741,125.30143540669857 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,100 C 94.22009569377991,86.72727272727273 188.44019138755982,73.45454545454547 293,79 C 397.5598086124402,84.54545454545453 512.4593301435406,108.90909090909089 598,117 C 683.5406698564594,125.09090909090911 739.7224880382776,116.90909090909092 843,105 C 946.2775119617224,93.09090909090908 1096.6507177033493,77.45454545454544 1204,76 C 1311.3492822966507,74.54545454545456 1375.6746411483255,87.27272727272728 1440,100 L 1440,400 L 0,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,233 C 86.82296650717703,232.10047846889952 173.64593301435406,231.20095693779905 262,239 C 350.35406698564594,246.79904306220095 440.2392344497606,263.2966507177033 536,271 C 631.7607655502394,278.7033492822967 733.397129186603,277.6124401913876 843,262 C 952.602870813397,246.38755980861245 1070.1722488038276,216.25358851674642 1171,209 C 1271.8277511961724,201.74641148325358 1355.9138755980862,217.3732057416268 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,233 C 106.08612440191388,254.42583732057417 212.17224880382776,275.85167464114835 310,278 C 407.82775119617224,280.14832535885165 497.3971291866029,263.01913875598086 592,245 C 686.6028708133971,226.98086124401914 786.2392344497607,208.07177033492823 873,213 C 959.7607655502393,217.92822966507177 1033.6459330143541,246.6937799043062 1126,254 C 1218.3540669856459,261.3062200956938 1329.1770334928228,247.1531100478469 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,233 C 116.80382775119617,225.0287081339713 233.60765550239233,217.05741626794256 338,218 C 442.39234449760767,218.94258373205744 534.3732057416267,228.79904306220095 614,220 C 693.6267942583733,211.20095693779905 760.8995215311005,183.74641148325358 851,189 C 941.1004784688995,194.25358851674642 1054.0287081339711,232.21531100478472 1156,245 C 1257.9712918660289,257.7846889952153 1348.9856459330144,245.39234449760764 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,233 C 82.99521531100478,239.2870813397129 165.99043062200957,245.5741626794258 250,255 C 334.00956937799043,264.4258373205742 419.03349282296654,276.99043062200957 528,264 C 636.9665071770335,251.00956937799043 769.8755980861245,212.4641148325359 874,206 C 978.1244019138755,199.5358851674641 1053.4641148325359,225.15311004784692 1143,235 C 1232.5358851674641,244.84688995215308 1336.267942583732,238.92344497607655 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,233 C 86.82296650717703,232.10047846889952 173.64593301435406,231.20095693779905 262,239 C 350.35406698564594,246.79904306220095 440.2392344497606,263.2966507177033 536,271 C 631.7607655502394,278.7033492822967 733.397129186603,277.6124401913876 843,262 C 952.602870813397,246.38755980861245 1070.1722488038276,216.25358851674642 1171,209 C 1271.8277511961724,201.74641148325358 1355.9138755980862,217.3732057416268 1440,233 L 1440,400 L 0,400 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,100 C 82.69856459330143,87.12918660287082 165.39712918660285,74.25837320574162 253,79 C 340.60287081339715,83.74162679425838 433.11004784689,106.09569377990431 552,113 C 670.88995215311,119.90430622009569 816.1626794258374,111.35885167464114 914,98 C 1011.8373205741626,84.64114832535886 1062.2392344497607,66.4688995215311 1142,66 C 1221.7607655502393,65.5311004784689 1330.8803827751196,82.76555023923444 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,100 C 122.47846889952152,90.1531100478469 244.95693779904303,80.30622009569377 328,76 C 411.04306220095697,71.69377990430623 454.6507177033493,72.92822966507177 554,93 C 653.3492822966507,113.07177033492823 808.4401913875598,151.98086124401914 915,149 C 1021.5598086124402,146.01913875598086 1079.5885167464114,101.14832535885168 1159,86 C 1238.4114832535886,70.85167464114832 1339.2057416267944,85.42583732057416 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,100 C 75.02392344497608,86.30622009569379 150.04784688995215,72.61244019138756 239,64 C 327.95215311004785,55.38755980861244 430.83253588516754,51.85645933014355 533,75 C 635.1674641148325,98.14354066985645 736.6220095693781,147.96172248803828 847,144 C 957.3779904306219,140.03827751196172 1076.6794258373207,82.29665071770336 1177,66 C 1277.3205741626793,49.70334928229665 1358.6602870813397,74.85167464114832 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,100 C 92.48803827751195,128.2488038277512 184.9760765550239,156.49760765550238 268,147 C 351.0239234449761,137.50239234449762 424.58373205741634,90.25837320574165 543,79 C 661.4162679425837,67.74162679425835 824.6889952153111,92.46889952153109 916,102 C 1007.3110047846889,111.53110047846891 1026.6602870813397,105.86602870813398 1102,103 C 1177.3397129186603,100.13397129186602 1308.6698564593303,100.06698564593302 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,100 C 82.69856459330143,87.12918660287082 165.39712918660285,74.25837320574162 253,79 C 340.60287081339715,83.74162679425838 433.11004784689,106.09569377990431 552,113 C 670.88995215311,119.90430622009569 816.1626794258374,111.35885167464114 914,98 C 1011.8373205741626,84.64114832535886 1062.2392344497607,66.4688995215311 1142,66 C 1221.7607655502393,65.5311004784689 1330.8803827751196,82.76555023923444 1440,100 L 1440,400 L 0,400 Z"
    );
  }
}

.path-3 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,233 C 117.59808612440193,222.73205741626793 235.19617224880386,212.46411483253587 334,204 C 432.80382775119614,195.53588516746413 512.8133971291866,188.8755980861244 592,195 C 671.1866028708134,201.1244019138756 749.5502392344499,220.03349282296648 841,238 C 932.4497607655501,255.96650717703352 1036.9856459330142,272.9904306220096 1139,272 C 1241.0143540669858,271.0095693779904 1340.507177033493,252.0047846889952 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,233 C 110.55502392344496,219.76555023923444 221.11004784688993,206.5311004784689 322,215 C 422.8899521531101,223.4688995215311 514.1148325358852,253.64114832535887 609,250 C 703.8851674641148,246.35885167464113 802.4306220095693,208.90430622009572 905,211 C 1007.5693779904307,213.09569377990428 1114.1626794258375,254.74162679425837 1204,265 C 1293.8373205741625,275.25837320574163 1366.9186602870814,254.12918660287082 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,233 C 106.68899521531102,225.8803827751196 213.37799043062205,218.76076555023923 301,212 C 388.62200956937795,205.23923444976077 457.17703349282294,198.83732057416267 551,213 C 644.8229665071771,227.16267942583733 763.9138755980861,261.88995215311 871,258 C 978.0861244019139,254.11004784688996 1073.1674641148325,211.60287081339715 1166,201 C 1258.8325358851675,190.39712918660285 1349.4162679425838,211.69856459330143 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,233 C 130.08612440191388,222.39712918660288 260.17224880382776,211.79425837320576 336,220 C 411.82775119617224,228.20574162679424 433.3971291866028,255.22009569377988 523,254 C 612.6028708133972,252.77990430622012 770.2392344497606,223.32535885167465 895,217 C 1019.7607655502394,210.67464114832535 1111.6459330143543,227.47846889952154 1197,234 C 1282.3540669856457,240.52153110047846 1361.1770334928228,236.76076555023923 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,233 C 117.59808612440193,222.73205741626793 235.19617224880386,212.46411483253587 334,204 C 432.80382775119614,195.53588516746413 512.8133971291866,188.8755980861244 592,195 C 671.1866028708134,201.1244019138756 749.5502392344499,220.03349282296648 841,238 C 932.4497607655501,255.96650717703352 1036.9856459330142,272.9904306220096 1139,272 C 1241.0143540669858,271.0095693779904 1340.507177033493,252.0047846889952 1440,233 L 1440,400 L 0,400 Z"
    );
  }
}
